/* Global */
body {
  margin: 0;
  line-height: 1.5em;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

img,
embed,
object,
video {
  max-width: 100%;
}

// avoid button too small for finger 
nav a, button {
    min-width: 48px;
    min-height: 48px;
    padding: 1.5em;
}

// Debug
div {
  border: 1px solid red !important;
  box-sizing: border-box;
}


/* Grid System */
.ln-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
}

.col-1 {
  grid-column: span 1;
  align-self: center;
}

.col-2 {
  grid-column: span 2;
  align-self: center;
}

.col-3 {
  grid-column: span 3;
  align-self: center;
}

.col-4 {
  grid-column: span 4;
  align-self: center;
}

.col-5 {
  grid-column: span 5;
  align-self: center;
}

.col-6 {
  grid-column: span 6;
  align-self: center;
}

/* Sections */
#navbar {
  background-color: #02b3e4;
  .ln-wrapper {
    grid-auto-rows: 50px;
  }
  .col-2 {
    align-self: center;
    #menu{
      justify-self: left;
    }
    #logo{
      justify-self: center;
      text-align: center;
    }
    #search{
      justify-self: right;
    }
  }
  a {
    text-decoration: none;
  }
}

#content {
  .post {
    background-color: #f4f4f4;
    padding: 0.5em;
    margin: 1em;
  }
}

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    margin-top:2em;
    padding: 1em;
}